 /* reset */
 * {margin: 0; padding: 0; font-family: 'Cafe24Supermagic-Bold-v1.0';}
 a {text-decoration: none; color:black;}
 li {list-style: none;}
 ul {margin: 0; padding: 0;}

 @font-face {
  font-family: 'Cafe24Supermagic-Bold-v1.0';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.header {
  width: 80%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center; 
  justify-content: space-between; 
}

.habit {
  width: 80%;
  height:200px; 
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center; 
  
  /* justify-content: space-between;  */
}

.habit-center {
  background-color: green; /* Change this to your desired background color */
  border-radius: 10px; /* Adjust the value to control the roundness of the corners */
  padding: 20px; /* Add padding to create some spacing inside the div */
  /* Other styles as needed */
}


.container {
  /* width: 1000px; */
  /* height: 2500px; */
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start;  */
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content: flex-start;
}

button { 
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type='submit'] {
  padding: 10px 20px;
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: black;
}


.modal {
  display: none; /* 모달 초기에는 숨겨집니다 */
  position: fixed;
  top: 50%; /* 화면 중앙에 표시 */
  left: 50%; /* 화면 중앙에 표시 */
  transform: translate(-50%, -50%); /* 중앙 정렬 */
  z-index: 1000; /* 달력보다 높은 z-index 값을 설정 */
  background-color: rgba(0, 0, 0, 0.7); /* 배경을 어둡게 처리 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff; /* 모달 내용의 배경색 */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 80%; /* 모달 내용의 최대 너비 */
}

/* 모달 닫기 버튼 스타일 */
.close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

/* 모달 내용 스타일 */
.modal h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* 이 외의 모달 내용에 대한 스타일을 추가하세요 */

/* 모달 내용 내의 폼 스타일 예시 */
.modal form {
  display: flex;
  flex-direction: column;
}

/* 모달 내용 내의 입력 필드 스타일 예시 */
.modal input, .modal textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* 모달 내용 내의 버튼 스타일 예시 */
.modal button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* 모달 내용 내의 버튼 스타일 - 닫기 버튼 */
.modal button.close-button {
  background-color: #ccc;
}

/* 모달 내용 내의 버튼 스타일 - 다른 버튼에 대한 스타일을 추가하세요 */

/* 모달 내용 내의 버튼 스타일 - 위치 조정 */
.modal button {
  margin-top: 10px;
}